fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings>=2.0
pydantic[email]
psycopg2-binary>=2.9
python-dotenv
kafka-python 
psycopg2-binary 
requests
python-multipart
geopy
pandas
numpy
scikit-learn==1.4.2
xgboost
joblib
python-dateutil
redis